<div class="config">
<div class="container">
    <div class="base-container">
        <div class="header">
            <a routerLink="/home">Duckyzone</a>
        </div>
        <div class="content">
            <h3>Configuracion</h3>
            <form class="form" [formGroup]="form" (ngSubmit)="modifyUser()">
                <div class="form-group">
                    <p>Nombre de Usuario: </p>
                    <input type="text" formControlName="username" name="username" placeholder="{{this.userO.username}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Correo: </p>
                    <input type="text" formControlName="email"name="email" placeholder="{{this.userO.email}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Nombre: </p>
                    <input type="text" formControlName="name" name="name" placeholder="{{this.userO.name}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Apellido Paterno: </p>
                    <input type="text" formControlName="lastm"name="lastm" placeholder="{{this.userO.lastm}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Apellido Materno: </p>
                    <input type="text" formControlName="lastf"name="lastf" placeholder="{{this.userO.lastf}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Telefono: </p>
                    <input type="text" formControlName="tel"name="tel" placeholder="{{this.userO.tel}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Numero Interno: </p>
                    <input type="text" formControlName="in"name="in" placeholder="{{this.CliO.in}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Numero Externo: </p>
                    <input type="text" formControlName="ext"name="ext" placeholder="{{this.CliO.ext}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Codigo Postal: </p>
                    <input type="text" formControlName="cod"name="cod" placeholder="{{this.CliO.cod}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Calle: </p>
                    <input type="text" formControlName="call"name="call" placeholder="{{this.CliO.calle}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Colonia: </p>
                    <input type="text" formControlName="col"name="col" placeholder="{{this.CliO.col}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Ciudad: </p>
                    <input type="text" formControlName="ciud"name="ciud" placeholder="{{this.CliO.ciud}}" disabled/>
                </div>
                <div class="form-group">
                    <p>Pais: </p>
                    <input type="text" formControlName="pais"name="pais" placeholder="{{this.CliO.pais}}" disabled/>
                </div>
                <!--<div class="form-group">
                    <p>Contraseña: </p> 
                    <input type="password" formControlName="password" name="password" placeholder="{{this.userO.password}}" disabled/>
                </div>-->
                <div class="footer">
                    <button type="button" class="btn" (click)="enableInput()">
                        Modificar
                    </button>
                    <br>
                    <button type="submit" class="btn">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div> 
</div>
</div>
