<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img src="../../../../assets/spartan.png" alt="" width="50px" height="50px" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/home" ><h6>Duckyzone</h6></a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departamentos
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" routerLink="/deportes"> {{ this.depts[0].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/moda"> {{ this.depts[1].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/electronicos"> {{ this.depts[2].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/musica"> {{ this.depts[3].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/belleza"> {{ this.depts[4].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/hogar"> {{ this.depts[5].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/niños"> {{ this.depts[6].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/comida"> {{ this.depts[7].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/libros"> {{ this.depts[8].nombre }} </a>
              <a class="dropdown-item" href="#" routerLink="/videojuegos"> {{ this.depts[9].nombre }} </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contacto">Contacto</a>
          </li>

        </ul>
        
        <form class="form-inline my-2 my-lg-0" style="width: auto;" >
            <input class="form-control mr-sm-2" style="width: 350px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-2" routerLink="/search" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto" *ngIf="checkStorage()!=null;else login">
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>Bienvenido {{user}}</h5>
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="this.role==='Yes';else cliente" >
                <a class="dropdown-item" href="#">Panel de control</a>
                <a class="dropdown-item" href="#">Configuración</a>
                <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
              </div>

              <ng-template #cliente>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Configuración</a>
                  <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
                </div>
              </ng-template>
              
            </li>
        </ul>
        <ng-template #login>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item my-2 my-sm-0">
              <a class="nav-link" routerLink="/login"> <h5>Iniciar Sesión</h5> </a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>