<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img src="../../../../assets/spartan.png" alt="" width="50px" height="50px" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/home" ><h6>Duckyzone</h6></a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Departamentos
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
              <a class="dropdown-item" href="#" *ngFor="let dept of depts"> {{ this.dept.nombre }} </a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contacto">Contacto</a>
          </li>

        </ul>
        
        <form class="form-inline my-2 my-lg-0" style="width: auto;">
            <input class="form-control mr-sm-2" style="width: 350px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto" *ngIf="httpService.correoUsuario!='';else login">
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5>Bienvenido {{httpService.correoUsuario}}</h5>
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                <a class="dropdown-item" href="#">Panel de control</a>
                <a class="dropdown-item" href="#">Configuración</a>
                <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
              </div>
            </li>
        </ul>
        <ng-template #login>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item my-2 my-sm-0">
              <a class="nav-link" routerLink="/login"> <h5>Iniciar Sesión</h5> </a>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>